<footer class="main-footer">
    <div class="footer-wrapper">
        <!-- Izquierda: Redes Sociales -->
        <div class="footer-section social">
            <a mat-icon-button href="#" target="_blank"><mat-icon svgIcon="google"></mat-icon></a>
            <a mat-icon-button href="#" target="_blank"><mat-icon svgIcon="facebook"></mat-icon></a>
            <a mat-icon-button href="#" target="_blank"><mat-icon svgIcon="youtube"></mat-icon></a>
            <a mat-icon-button href="#" target="_blank"><mat-icon svgIcon="instagram"></mat-icon></a>
            <a mat-icon-button href="#" target="_blank"><mat-icon svgIcon="linkedin"></mat-icon></a>
        </div>

        <!-- Centro: Copyright -->
        <div class="footer-section copyright">
            <span>&copy; 2024 Madraza.</span>
        </div>

        <!-- Derecha: Enlaces de Privacidad -->
        <div class="footer-section links">
            <!-- Usar mat-button asegura que use el color y tamaño del tema -->
            <a mat-button color="primary" href="/privacidad">Privacidad</a>
            <a mat-button color="primary" href="/cookies">Cookies</a>
            <a mat-button color="primary" href="/aviso-legal">Aviso Legal</a>
        </div>
    </div>
</footer>