export const environment = {
  production: true,
  apiUrl: 'https://TU-BACKEND.railway.app/api',
  backendUrl: 'https://TU-BACKEND.railway.app',
  stripePublicKey: 'pk_live_REPLACE_WITH_YOUR_LIVE_KEY'
};