# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

#.idea folder is used to store project-specific settings and configurations for JetBrains IDEs. The .gitignore file in this folder specifies which files and directories should be ignored by Git version control.  
/.idea